<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".AppDelegate"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySuz"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Entry_and_promotions.AcAksy"
            android:exported="false" />
        <activity
            android:name=".Entry_and_promotions.SIM_MTS"
            android:exported="false" />
        <activity
            android:name=".Entry_and_promotions.SIM_T2"
            android:exported="false" />
        <activity
            android:name=".Entry_and_promotions.AcPhone"
            android:exported="false" />
        <activity
            android:name=".Entry_and_promotions.RV_promo"
            android:exported="false" />
        <activity
            android:name=".Entry_and_promotions.Activiti_RTC"
            android:exported="false" />

        <service
            android:name=".Service_Notification.MyServiceNotification"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".StoksSuz.MainActivityMenu"
            android:exported="true" />
        <activity
            android:name=".StoksSuz.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>